.productosContainer{
   display: flex;
   flex-wrap: wrap;
   gap: 2rem;
   padding: 1rem;
}
.cardBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}