.productosContainer{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   align-items: stretch;
   justify-content: center;
   padding: 1rem;
   gap: 1.5rem;
}
.cardBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}